
* {text-decoration:none;padding:0;margin:0;}
img {border:0px;}
h2 {color:#c8c8c8;font-size:14px;}
a {color:#c8c8c8;}
body {background:url(../images/bg.png) no-repeat center top #fff;font-size:13px;color:#c8c8c8;font-family:Myriad Pro;}
#wrapper {background:url(../images/bgc.png) repeat-y center top;width:943px;margin:0 auto;overflow:hidden;}
#header {width:100%;height:150px;}
.lang {width:100%;float:left;height: 20px;}
.flag {width:100px;float:right;}
.flag ul li {display:inline-block;width:38px;background:url(../images/lgb.png) no-repeat;height:23px;text-align: center;}
.flag ul li:hover{display:inline-block;width:38px;background:url(../images/lgbh.png) no-repeat;height:23px;text-align: center;}
.flag a {color:#c8c8c8;}
.flag a:hover{color:#ed7a24;}
.flag a.activ {color:#ed7a24;}
.logo {float:left;width:312px;height:102px;margin-left:70px;}
.navtop {float: left;
    padding-left: 193px;
    padding-top: 60px;}
.navtop2 {float: left;
    padding-left: 136px;
    padding-top: 37px;}
.navtop ul li {display:inline;}
.navtop a {color:#c8c8c8;}
.navtop a:hover{color:#ed7a24;}
#menu ul {padding-top: 14px;}
#menu ul li {display:inline;padding:9px 43px 0;}
#menu ul li:hover {border-top:5px solid #ed7a24;}
#menu ul li.activl {border-top:5px solid #ed7a24;}
#menu a {color:#c8c8c8;}
#menu a:hover {color:#ed7a24;}
#menu a.activ {color:#ed7a24;}
#menu {background:url(../images/menubg.png) no-repeat center top;width:930px;height:41px;margin:0 auto;text-align: center;}
#content {padding-bottom: 15px; overflow: hidden;     padding-top: 20px;     width: 100%;}
.user1 {background:url(../images/blocbg.png) no-repeat center top;float: left;
    height: 376px;
    margin-left: 7px;
    padding: 20px 10px;
    width: 198px;}
.user2 {background:url(../images/blocbg.png) no-repeat center top;float:left;margin-left: 20px;
padding: 20px 10px;
    width: 198px;
	height: 376px;
}
.user3 {background:url(../images/listbg.png) no-repeat center top;width:434px;height:376px;float:left;margin-left: 20px;padding:20px 10px;}
#footer {background:url(../images/footerbg.png) no-repeat center top;width:943px;height:116px;padding-top:15px;}
.titr {color:#ed7a24;}
.more {color:#ed7a24;}
label {color:#c8c8c8;padding-left:5px;font-size:11px;}
input {border:1px solid #c8c8c8;width:189px;background:none;color:#c8c8c8;font-family: myriad pro;}
select {border:1px solid #c8c8c8;width:189px;background:none;color:#c8c8c8;font-family: myriad pro;}
option {background:#373737;color:#c8c8c8;}
.crtcompt {background:url(../images/btncompte.png) no-repeat center center;width:123px;height:23px;text-indent:9999px;}
.sins {font-size:14px;color:#c8c8c8;}
.user3 a {color:#c8c8c8;}
.user3 a:hover {color:#ed7a24;}
.user3 ul {list-style:none;}
.user3 li {border-bottom:1px solid #c8c8c8;padding-bottom: 6px;padding-top: 7px;}
.plus {color:#ed7a24;font-weight:bold;}
.titrjob {padding-left:15px;font-size:10px;}
.btnmor {padding-left:148px;}
.city {padding-left:11px;}
.direction {float:right;padding-right: 6px;padding-top: 8px;}
.bottom1 {float:right;width:216px;}
.bottom2 {float:right;width:216px;}
.bottom3 {float: right;padding-right: 16px;text-align: right;width: 123px;}

/************ INGENIERIE **********/
.user6 {background:url(../images/blocbg.png) no-repeat center top;float: left;
    height: 376px;
    margin-left: 20px;
    padding: 20px 10px;
    width: 198px;}
.user6 p {font-size:15px;}
.user4 {background:url(../images/searchbg.png) no-repeat center top;float:left;margin-left: 7px;
padding: 20px 10px;
    width: 200px;
	height: 170px;
}
.user5 {background:url(../images/offres.png) no-repeat center top;width:434px;height:743px;float:left;margin-left: 20px;padding:20px 10px;}
.user5 a {color:#c8c8c8;}
.user5 a:hover {color:#ed7a24;}
.user5 ul {list-style:none;}
.user5 li {border-bottom:1px solid #c8c8c8;padding-bottom: 6px;padding-top: 7px;}
.direction2 {text-align:center;padding-right: 6px;padding-top: 8px;padding-left: 92px;}
.direction2 a {color:#ed7a24;}
.search {background:url(../images/resultats.png) no-repeat center center;width:123px;height:23px;text-indent:9999px;}
.filter {background:url(../images/filterbg.png) no-repeat center top;float:left;margin-left: -10px;
padding: 20px 10px;
    width: 200px;
	height: 214px;}
/************ Inscription ******************/
.user7 {background:url(../images/blocbg.png) no-repeat center top;float: left;
    height: 376px;
    margin-left: 6px;
    padding: 20px 10px;
    width: 200px;}
.user7 p {font-size:15px;}
.user8 {background:url(../images/formcontactbg.png) no-repeat center top;float:left;margin-left: 18px;
padding: 20px 10px;
    width: 672px;
	height: 192px;
}
.continp {border:1px solid #c8c8c8;width:295px;background:none;color:#c8c8c8;font-family: myriad pro;}
textarea {border:1px solid #c8c8c8;width:327px;background:none;color:#c8c8c8;font-family: myriad pro;}
.envoyer {background:url(../images/envoyer.png) no-repeat center center;width:121px;height:22px;text-indent:9999px;margin-top: 10px;}

/************* CONTACT *****************/
.colort {color:#ed7a24;}
.plus2 {color:#ed7a24;}

.user10 {background:url(../images/bgcontactleft.png) no-repeat center top;float: left;
    height: 193px;
    margin-left: 6px;
    padding: 20px 10px;
    width: 200px;}
.user10 p {font-size:15px;}

/********* Connexion ***********/
.btnconnexion {background:url(../images/connexion.png) no-repeat center center;width:106px;height:28px;text-indent:9999px;border:0px;}

