@import url('https://fonts.googleapis.com/css?family=Open+Sans');
#header,.menu,.s-menu,h2{
font-family: 'Open Sans', sans-serif;

}

div#commentjax {

    bottom: 0;
    opacity: 0.8;
    z-index: 2147483647;
    position: absolute;
    left: 0;

}
#contentajax{
    background: none repeat scroll 0 0 #F9E97C;
    border-radius: 10px;
    width: 250px;
    margin: 5px;    padding: 15px;
}
body
{
padding:0px;
margin:0px;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	overflow-x:hidden;
	
}
#header {
	background-color: #fff;
	height: 78px;
	width: 100%;
}
#menu {
	background-color: #383838;
	height: 50px;
	width: 100%;
	border-bottom:4px solid #00983E;
}
#header #info .compte {
	background-image: url(../images/compte.png);
	background-repeat: no-repeat;
	height: 23px;
	padding: 7px 0 0 23px;
    width: 71px;
	float:left;
	   margin: 0 5px;
}
#info
{
	color: #FFFFFF;
    float: right;
    margin-top: 22px;
    width: 500px;
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	
}

#content {
	width: 100%;
}
#header #info .outils {
	background-image: url(../images/outils.png);
	background-repeat: no-repeat;
	height: 23px;
	padding: 7px 0 0 23px;
    width: 71px;
	float:left;
	   margin: 0 5px;
}
#header #info .info {
   margin: 6px 5px;
	float:left;
}
#header #info .log-off {
   background-image: url("../images/off.png");
    background-repeat: no-repeat;
    float: left;
    height: 39px;
    margin-top: -9px;
    padding: 11px 0 0 45px;
    width: 39px;
	cursor:pointer;
}
#menu .menu ul .sep {
	background-image: url(../images/sep.png);
	background-repeat: no-repeat;
	background-position: left;
}
#header #info .outils a{
	color:#fff;
			text-decoration:none;
}
#header #info .log-off a{
		color:#7f7f7f;
		padding-top: 1px;
		text-decoration:underline;
}
#header #info .compte a{
		color:#fff;
				text-decoration:none;
}
.menu { height: 50px;
    margin-left: 200px;
    position: relative;
    width: 84%;}
.menu ul {list-style:none; z-index:10; position:absolute; z-index:100; padding:4px 5px}
.menu li {float:left}
.menu a,  .menu a:visited {text-decoration:none;font-weight:100;font-size:16px; color:#ccc; padding:10px}
.menu a:active,.menu a:hover{color:#FFF;}
.menu a:hover {color:#ebf0e6}
#slide {position:absolute; bottom:0; height:6px; background:url("../images/arrow.png") no-repeat 50% 24%; z-index:10}
#contenu table {  background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    padding: 12px;}

.addcmt {background:url(../imgs/Add.gif) no-repeat;text-indent:999px;border:0px;width:16px;height:16px;}
.roundetat {
	border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
	width:15px;height:15px;
}

.cmt_user {
	 width: 343px;
	height:50px;
	font-size:11px;
	float:left;margin-top:15px;
}
.cmtr {
	border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
	background:#fff;
	 margin-top: -15px;
    width: 343px; 
	float:left;
	color:#212121;
	font-size:11px;
}

.cmtanswer {
	border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
	background:#fff;
	 margin-top: -15px;
    width: 343px;
	height:60px;
	float:left;
	color:#212121;
	font-size:11px;
}

.cmtr p {width:340px;padding-left:15px;}

	
input[type=text] {color: white;
height: 23px;
width: 200px;
padding: 3px 5px 3px 5px;
border-style: none;
background:#8c8c8c;
font-family: courier new;
font-size: 14px;
border-radius: 4px 4px 4px 4px;

}
input[type=password] {color: white;
height: 23px;
width: 200px;
padding: 3px 5px 3px 5px;
border-style: none;
background:#8c8c8c;
font-family: courier new;
font-size: 14px;
border-radius: 4px 4px 4px 4px;

}


textarea{
background:#8c8c8c;
border-radius: 4px 4px 4px 4px;
font-family: courier new;
font-size: 14px;
padding: 3px 5px 3px 5px;
border-style: none;
color: white;
}

select {color: white;
height: 23px;
width: 210px;
padding: 3px 5px 3px 5px;
border-style: none;
background:#8c8c8c;
font-family: courier new;
font-size: 14px;
border-radius: 4px 4px 4px 4px;
}
#mettre {}


#content #sous-menu {
	float: left;
	height: 52px;
	width: 171px;
	background-image: url(../images/navigation.png);
	background-repeat: no-repeat;
	background-position: top;
	margin: 20px 0 -12px 20px;

}
#content #sous-menu1{
	 background-color:#bbb;
		height:176px;
	  width: 171px;
		margin: 0px 0 0 20px;
		  float: left;
}
#content #sous-menu2{

	float: left;
	background-image: url(../images/bottom-smenu.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 171px;
	margin: 0px 0 0 20px;
}
.s-menu
{
	float:left;
	width:17%;
}
#sous-menu1 li {
    background-image: url("../images/li.png");
    background-position: 0 0.4em;
    background-repeat: no-repeat;
    list-style-type: none;
    padding-left: 15px;
}
#sous-menu1 ul
{
	padding:0 0 0 14px ;
}
#sous-menu1 li a
{
	color:#383838;
	text-decoration:none;
}
#content #contenu {
	float: left;
	height: 500px;
	width: 99%;
	margin: 0px 0 0;
}

.top1 {
	background-image: url(../images/bg-top1.png);
	background-repeat: no-repeat;
	background-position: left;

	width: 51px;
	   float: left;
    height: 47px;
}
.top3 {
	background-image: url(../images/bg-top3.png);
	background-repeat: no-repeat;
	height: 47px;
	width: 23px;
	float: left;
}
.stat {
	background-color: #d5d5d5;
	overflow:hidden;
	min-height: 160px;
	width: 300px;
	border-radius: 5px 5px 0 0;
}
.bottom-stat {
	background-color: #d5d5d5;
	width: 300px;
	 height: 10px;
	    border-radius: 0 0 5px 5px;
		 margin-bottom: 11px;
}
.top2 {
	background-image: url("../images/bg-top2.png");

    background-repeat: repeat-x;
    float: left;
    height: 35px;
	color:#7c7c7c;
	font-size:17px;
	font-weight:bold;
	padding: 12px 6px 0;
	width: 213px;

}
.top22 {
	background-image: url("../images/bg-top2.png");

    background-repeat: repeat-x;
    float: left;
    height: 35px;
	color:#7c7c7c;
	font-size:17px;
	font-weight:bold;
	padding: 12px 6px 0;
	width: 413px;

}
.stat2 {
	background-color: #d5d5d5;
	overflow:hidden;
	min-height: 160px;
	width: 500px;
	border-radius: 5px 5px 0 0;
}
.bottom-stat2 {
	background-color: #d5d5d5;
	width: 500px;
	 height: 10px;
	    border-radius: 0 0 5px 5px;
		 margin-bottom: 11px;
}
.number {
    background-color: #A1A1A1;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bold;
    padding: 3px 18px;
}
.txt
{
	 margin-top: 42px;
    padding: 10px;
}

#pro {
	border:1px solid #ff0;
}
#pro thead tr{background:#019039;color:#fff;}
#pro tbody tr{background:#ECE9D8;color:#212121;}
#pro tbody td{border:1px solid #fff;}



